:root {
	--app-max-width: 1340px;
	--app-color-black-a: #0b0b0b;
	--app-color-green-a: #49df28;
	--app-color-green-b: #49df281a;
	--app-color-green-c: #49df280d;
	--app-color-green-d: #49df2805;
	--app-color-yellow-a: #e6dc0b14;
	--app-color-gray-a: #b8b8b8;
	--app-color-gray-b: #e8e8e8;
	--app-color-gray-c: #edfcea;
	--app-color-gray-d: #e8e8e805;
	--app-color-white-a: #ffffff;
	--app-color-white-b: #f1f0fb;
	--app-color-gradient-a: linear-gradient(
		93.05deg,
		#deebfd -0.28%,
		#1656b9 110.5%
	);
	--app-color-gradient-b: linear-gradient(
		90.44deg,
		#8174ff 1.46%,
		#1656b9 100%
	);
	--app-color-gradient-c: linear-gradient(180deg, #8174ff 0%, #110f27 51.72%);
	--app-color-gradient-d: linear-gradient(
		90.44deg,
		#8174ff 1.46%,
		#1656b9 100%
	);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background: var(--app-color-black-a);
}

.anchor-link {
	display: inline-block;
	text-decoration: none;
	background: none;
}
