.container {
	max-width: var(--app-max-width);
	margin: 0 auto;
	color: var(--app-color-white-a);
}

.sectionOne {
	max-width: 87.5rem;
	margin: 0 auto;
	padding: 4rem 1.8rem;
	overflow: hidden;
}

.sectionOne > div:first-of-type {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.sectionOne h1 {
	position: relative;
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	line-height: 2.938rem;
	color: var(--app-color-white-a);
	text-transform: capitalize;
	margin-bottom: 1.4rem;
	z-index: 5;
}

.sectionOne p {
	position: relative;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	line-height: 1.438rem;
	color: var(--app-color-gray-h);
	text-transform: capitalize;
	z-index: 5;
}

.sectionOneButtons {
	position: relative;
	margin-top: 2.5rem;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
	flex-wrap: wrap;
	z-index: 5;
}

.sectionOne button {
	display: block;
	padding: 1rem 1.5rem;
	height: 100%;
}

.sectionOneImage {
	margin-top: 2rem;
}

.sectionOneImage > g {
	animation: animateHomeSvgG 2s linear infinite;
}

.sectionOneImage > path {
	animation: animateHomeSvgPath 2s linear infinite;
}

.sectionTwoContent {
	display: grid;
	padding: 0rem 1.8rem;
}

.sectionTwoContent::after {
	display: block;
	content: "";
	width: 65%;
	height: 0.063rem;
	background: var(--app-color-gradient-e);
	margin: 5rem auto;
}

.headerPills {
	font-size: 0.75rem;
	line-height: 0.938rem;
	display: inline-block;
	margin: 1.2rem auto;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3.125rem;
	background: var(--app-color-green-c);
	color: var(--app-color-gray-b);
	border: 0.063rem solid var(--app-color-green-f);
	padding: 0.325rem 1.875rem;
	letter-spacing: 0.2rem;
}

.headerTwo {
	color: var(--app-color-white-a);
	background: var(--app-color-gradient-a);
	text-transform: capitalize;
	font-weight: 700;
	font-size: 2.05rem;
	line-height: 2.463rem;
	text-align: center;
	margin-bottom: 1.6rem;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.paragraph {
	text-transform: capitalize;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.125rem;
	color: var(--app-color-white-b);
}

.sectionThree {
	display: grid;
	padding: 0rem 1rem;
	overflow: hidden;
	padding-bottom: 2rem;
}

.headerThree,
.headerFour {
	color: var(--app-color-white-a);
	background: var(--app-color-gradient-a);
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 1.6rem;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.sectionThreeGrid {
	display: flex;
	flex-wrap: wrap;
	row-gap: 2rem;
	margin: 1rem 0rem;
}

.headerFour {
	font-weight: 600;
	font-size: 1.663rem;
	line-height: 2rem;
	text-align: left;
}

.sectionThreeGrid > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 2.775rem;
	background: var(--app-color-gray-e);
	padding: 3rem 1.5rem;
	gap: 2rem;
}

.sectionThreeGrid > div::before,
.statsHeader::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		to right,
		transparent 0%,
		#6f6e6614 50%,
		transparent 100%
	);
	background-size: 200% 100%;
	border-radius: 2.778rem;
	animation: shimmer 8s infinite linear;
	z-index: -1;
}

.sectionThreeGrid > div p {
	text-align: left;
	width: 100%;
	text-transform: none;
}

.sectionThreeGrid > div a {
	text-align: center;
	width: 100%;
}

.sectionThreeGrid > div > div a {
	display: none;
}

.sectionThreeGrid > div:nth-of-type(1) {
	border: 0.063rem solid var(--app-color-gray-g);
}

.sectionFour {
	padding: 0rem 1rem 4rem 1rem;
}

.sectionFourTextContainer {
	position: relative;
	display: grid;
}

.sectionFourSliderContainer {
	position: relative;
	max-width: 62.938rem;
	margin: 0 auto;
	margin-top: 3rem;
}

.carousel {
	display: none;
}

.carouselTabletAndMobile {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sectionFourSliderItem {
	background: var(--app-color-gray-i);
	border-radius: 2.75rem;
	padding: 3rem 1.5rem;
}

.sectionFourSliderItem:nth-of-type(2) > div:first-of-type p {
	text-transform: none;
}

.sectionFourSliderItem * {
	text-align: left;
}

.sectionFourSliderItem h3,
.sectionFourSliderItem p {
	width: 100%;
}

.sectionFourSliderItem a {
	margin-top: 3rem;
	text-align: center;
	width: 100%;
}

.sectionFourSliderItemBDivBSubTextContainer > h6 {
	color: var(--app-color-green-a);
	background: var(--app-color-gradient-d);
	text-transform: capitalize;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin: 1.6rem 0rem 1rem 0rem;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.sectionFourSliderItemBDivBSubTextContainer > p {
	font-size: 0.75rem;
	line-height: 0.938rem;
	text-transform: none;
}

.sectionFourSliderItemBDivBSubTextContainer > svg {
	display: none;
}

.sectionFive {
	padding: 0rem 1.5rem;
	margin-bottom: 6rem;
}

.sectionFiveA {
	display: grid;
	max-width: 59.5rem;
	margin: 0 auto;
}

.statsHeader {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	background: var(--app-color-gray-e);
	padding: 3rem 1rem;
	border-radius: 2.778rem;
	margin: 2rem 0rem;
}

.statsHeader h1 {
	color: var(--app-color-white-a);
	background: var(--app-color-gradient-c);
	font-size: 2.625rem;
	font-weight: 600;
	line-height: 3.088rem;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-align: center;
}

.statsHeader h2 {
	color: var(--app-color-white-c);
	font-size: 0.85rem;
	font-weight: 400;
	line-height: 1.081rem;
	margin-bottom: 0.7rem;
	text-align: center;
}

.statsHeaderSectionOnePartSecondDiv {
	margin-top: 2.5rem;
}

.statsHeaderSectionOnePartSecondDiv h1 {
	background: var(--app-color-gradient-b);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.statsHeaderSmallGrid {
	display: grid;
	grid-template-columns: 50% 50%;
	row-gap: 2rem;
}

.statsHeaderSmallGrid h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	color: var(--app-color-gray-c);
	text-align: center;
}

.statsHeaderSmallGrid div:last-of-type {
	grid-column-start: span 2;
	overflow: hidden;
}

.statsHeaderSmallGrid h4 {
	font-size: 0.75rem;
	line-height: 1.05rem;
	font-weight: 300;
	color: var(--app-color-white-c);
	margin-bottom: 0.5rem;
	text-align: center;
}

.sectionFiveB {
	display: flex;
	column-gap: 1rem;
	width: 100%;
	max-width: 82rem;
	margin: 2rem auto;
	overflow-x: scroll;
	scrollbar-width: none; /* hide scrollbar for Firefox */
	-ms-overflow-style: none; /* hide scrollbar for IE/Edge */
	scrollbar-color: transparent transparent;
}

.sectionFiveB::-webkit-scrollbar {
	display: none; /* hide scrollbar for Chrome, Safari, and Opera */
}

.ecosystemStatsCard {
	flex-shrink: 0;
	text-align: center;
	color: var(--app-color-white-d);
	width: 7.313rem;
}

.ecosystemStatsCard h5 {
	font-size: 1rem;
	font-weight: 400;
}

.ecosystemStatsCard h6 {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 0.9rem;
}

.ecosystemStatsCard svg {
	display: inline-block;
	margin-top: 1rem;
}

.sectionFiveB ~ div {
	text-align: center;
}

.ecosystemStatsCard:nth-child(n + 2):nth-child(-n + 4) {
	margin-top: 1rem;
}

.ecosystemStatsCard:nth-child(5),
.ecosystemStatsCard:nth-child(8) {
	margin-top: 2.7rem;
}

.ecosystemStatsCard:nth-child(7) {
	margin-top: 1.8rem;
}

.ecosystemStatsCard:nth-child(6),
.ecosystemStatsCard:nth-child(9) {
	margin-top: 1.2rem;
}

.sectionSix {
	max-width: 80.625rem;
	padding: 0rem 2rem;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.partners > h4 {
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.35rem;
	font-weight: 400;
	color: var(--app-color-white-b);
	text-transform: capitalize;
}

.partners h4 span {
	font-weight: 700;
	color: var(--app-color-white-a);
}

.partners h4 span:first-of-type {
	background: var(--app-color-gradient-a);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.partners h4 span:last-of-type {
	background: var(--app-color-gradient-b);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.partners svg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.2rem;
}

.partnersImage {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 4.5rem;
	row-gap: 3rem;
	margin-top: 3rem;
	opacity: 0.3;
}

.partnersImage img {
	flex-shrink: 0;
}

@media all and (min-width: 768px) {
	.sectionOne {
		padding: 6rem 2rem;
	}

	.sectionOne > div:first-of-type,
	.sectionFourTextContainer {
		max-width: 45.813rem;
	}

	.sectionOne > div:first-of-type::after,
	.sectionFourTextContainer::after {
		top: -70px;
		content: "";
		position: absolute;
		width: 99%;
		height: 877px;
		border-radius: 50%;
		z-index: 2;
		background: var(--app-color-black-a);
		margin: 0.1% 0%;
	}

	.sectionOne > div:first-of-type::before,
	.sectionFourTextContainer::before {
		display: block;
		content: "";
		position: absolute;
		top: -70px;
		height: 877px;
		width: 99%;
		border-radius: 50%;
		background-image: linear-gradient(
			to bottom,
			var(--app-color-green-e) 35%,
			var(--app-color-black-a) 20%
		);
		z-index: 1;
	}

	.sectionOne h1 {
		font-size: 3.5rem;
		line-height: 3.938rem;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 1.8rem;
	}

	.sectionOne p {
		font-size: 1.5rem;
		line-height: 1.938rem;
		width: 40%;
		margin: 0 auto;
	}

	.sectionOneButtons {
		margin-top: 4rem;
	}

	.sectionOne button {
		padding: 1rem 2.6rem;
	}

	.sectionTwoContent {
		width: 42.188rem;
		margin: 0 auto;
		padding: 0rem 0rem;
	}

	.sectionTwoContent::after {
		margin: 5.5rem auto;
	}

	.headerTwo {
		font-size: 3.25rem;
		line-height: 3.563rem;
	}

	.paragraph {
		font-size: 1rem;
		line-height: 1.25rem;
		width: 70%;
		margin: 0 auto;
	}

	.sectionThree {
		padding: 0rem 0rem;
		padding-bottom: 3rem;
	}

	.sectionThreeGrid > div {
		flex-direction: row;
		gap: 1rem;
	}

	.sectionThreeGrid > div p {
		margin-bottom: 1.6rem;
	}

	.sectionThreeGrid > div a {
		text-align: left;
		width: auto;
	}

	.sectionThreeGrid > div > div a {
		display: inline-block;
	}

	.sectionThreeGrid > div > a {
		display: none;
	}

	.headerThree {
		font-size: 2.5rem;
		line-height: 3rem;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
	}

	.sectionThreeGrid > div {
		width: 70%;
		margin: 0 auto;
	}

	.sectionFour {
		padding: 4.5rem 5% 6rem 5%;
		overflow: hidden;
	}

	.sectionFourTextContainer {
		margin: 0 auto;
	}

	.sectionFourTextContainer > span {
		position: relative;
		z-index: 5;
	}

	.sectionFourTextContainer > h3 {
		position: relative;
		width: 85%;
		z-index: 5;
	}

	.sectionFourTextContainer p {
		position: relative;
		width: 60%;
		margin: auto;
		z-index: 5;
	}

	.sectionFourSliderContainer {
		position: relative;
		z-index: 5;
		margin-top: 4rem;
	}

	.sectionFourSliderItem {
		padding: 4rem 6rem 7rem 4rem;
	}

	.sectionFourSliderItem a {
		text-align: left;
		width: auto;
	}

	.sectionFourSliderItem > div {
		width: 100%;
	}

	.sectionFourSliderItem > div h3 {
		width: 80%;
		margin-left: 0;
		margin-right: 0;
	}

	.sectionFourSliderItem:nth-of-type(2) > div h3 {
		width: 90%;
	}

	.sectionFourSliderItemBDivBSubTextContainer > svg {
		display: block;
		margin-top: 1rem;
	}

	.sectionFive {
		padding: 0rem 1.5rem;
		margin-bottom: 8rem;
	}

	.sectionFive .headerThree {
		width: 72%;
	}

	.statsHeader {
		grid-template-columns: 50% 50%;
		gap: 0rem;
		padding: 4rem 2rem;
		margin: 3rem 0rem;
	}

	.statsHeader h1 {
		font-size: 3.625rem;
		line-height: 4.088rem;
		text-align: left;
	}

	.statsHeader h2 {
		font-size: 1rem;
		line-height: 1.481rem;
		text-align: left;
	}

	.statsHeaderSmallGrid h3,
	.statsHeaderSmallGrid h4 {
		text-align: left;
	}

	.sectionFiveB {
		column-gap: 2rem;
		margin-top: 6rem;
		margin-bottom: 4rem;
	}

	.sectionSix {
		padding: 0rem 0rem;
		margin-bottom: 9rem;
	}
}

@media all and (min-width: 992px) {
	.sectionOne {
		padding: 8rem 2rem;
	}

	.sectionOne > div:first-of-type,
	.sectionFourTextContainer {
		max-width: 54.813rem;
	}

	.sectionOne h1 {
		font-size: 4.5rem;
		line-height: 4.938rem;
		margin-bottom: 1.6rem;
	}

	.sectionTwoContent {
		width: 48.188rem;
	}

	.sectionTwoContent::after {
		margin: 7.5rem auto;
	}

	.sectionThreeGrid > div {
		width: 60%;
	}

	.sectionFourSliderItem {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	.sectionFourSliderItem:nth-of-type(1) {
		z-index: 10;
	}

	.sectionFourSliderItem:nth-of-type(2) {
		z-index: 1;
		top: -40px;
	}

	.sectionFourSliderItem:nth-of-type(3) {
		z-index: 1;
		top: -80px;
	}

	.sectionFourSliderItem:nth-of-type(2) > div:first-of-type {
		width: 50%;
	}

	.sectionFourSliderItem:nth-of-type(2) > div:first-of-type p {
		width: 70%;
		margin-left: 0;
		margin-right: 0;
	}

	.sectionFourSliderItem:nth-of-type(2) > div:last-of-type {
		width: 40%;
	}

	.sectionFive {
		padding: 0rem 4rem;
	}

	.sectionFive .headerThree {
		width: 55%;
	}

	.statsHeader h1 {
		font-size: 4.625rem;
		line-height: 5.088rem;
	}

	.statsHeader h2 {
		font-size: 1.5rem;
		line-height: 2.081rem;
	}
}

@media all and (min-width: 1200px) {
	.sectionThreeGrid {
		width: 66.375rem;
		margin: 2rem auto;
		row-gap: 1rem;
	}

	.sectionThreeGrid > div {
		flex-shrink: 0;
	}

	.sectionThreeGrid > div:nth-of-type(1) {
		width: 29.563rem;
		margin-right: 3.2rem;
		border: 0.063rem solid var(--app-color-gray-g);
	}

	.sectionThreeGrid > div:nth-of-type(2) {
		width: 33.438rem;
		padding: 3rem 2.8rem;
		gap: 1rem;
	}

	.sectionThreeGrid > div:nth-of-type(3) {
		position: relative;
		width: 37.563rem;
		margin-right: 1rem;
		padding: 3rem 3.5rem;
		overflow: hidden;
	}

	.sectionThreeGrid > div:nth-of-type(3) > div:first-of-type {
		width: 50%;
	}

	/* .sectionThreeGrid > div:nth-of-type(3)::after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 24.438rem;
		height: 24.438rem;
		background-color: var(--app-color-yellow-a);
	} */

	.sectionThreeGrid > div:nth-of-type(4) {
		width: 27.625rem;
		padding: 3rem;
	}

	.sectionFour {
		padding: 4.5rem 0rem 9rem 0rem;
	}

	.carousel {
		display: block;
		margin: 5rem 0rem;
	}

	.carouselTabletAndMobile {
		display: none;
	}

	.sliderLastElemenFirstParagraph {
		width: 80% !important;
		margin-left: 0;
		margin-right: 0;
	}

	.sectionFive {
		padding: 4rem 0rem 0rem 0rem;
	}

	.sectionFive .headerThree {
		width: 50%;
	}

	.statsHeader {
		padding: 5rem 6rem;
		gap: 4rem;
		margin: 3rem 0rem 2rem 0rem;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200%;
	}
	100% {
		background-position: 200%;
	}
}

@keyframes animateHomeSvgG {
	0% {
		transform: translate(0px);
	}
	25% {
		transform: translate(5px);
	}
	50% {
		transform: translate(15px);
	}
	75% {
		transform: translate(5px);
	}
	100% {
		transform: translate(0px);
	}
}

@keyframes animateHomeSvgPath {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}
