.button {
	border: 0.06rem solid;
	border-radius: 0.347rem;
	padding: 1rem 1.75rem;
	cursor: pointer;
	background: none;
	color: var(--app-color-white-a);
	font-size: 0.875rem;
	font-weight: 600;
	transition: transform 0.5s;
}

.button div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;
}

.button:hover {
	transform: scale(1.02);
}

.button.variantA {
	border-width: 0.125rem;
	border-color: var(--app-color-green-b);
	background: inherit;
}

.button.variantB {
	position: relative;
	border: none;
	background: var(--app-color-green-a);
	color: var(--app-color-black-a);
}

.button.variantC {
	border-color: var(--app-color-green-a);
	background: var(--app-color-green-b);
}
