.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20rem;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	z-index: 50;
	width: 100%;
	top: 65%;
	padding: 0rem 1rem;
}

.buttons button {
	background: none;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.buttons button:hover {
	transform: scale(0.85);
}

.buttons button svg {
	width: 2.5rem;
	height: 2.5rem;
}

.buttons button:last-of-type svg {
	transform: rotate(180deg);
}

.slideContainer {
	position: absolute;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: 50% 50%;
	z-index: 10;
}

.slideCard {
	position: relative;
	align-items: center;
	justify-content: center;
	transform-origin: 50% 50%;
}
